/* styles.css */
.body-container {
    margin-bottom: 20px;
    margin-top: 40px;
}

button.btn.btn-outline-danger.reset {
    margin-top: 70px;
}

.person-count {
    margin-left: 10px;
}

.group-results {
    margin-bottom: 30px;
}

.result-panel {
    height: 40px;
    padding: 5px 15px;
    margin: 2px 0;
    border-radius: 5px;
}

.title {
    text-align: center;
    padding-bottom: 20px;
}

span {
    cursor: pointer;
}

.name {
    font-weight: bold;
}

.minus,
.plus {
    width: 35px;
    height: 35px;
    background: #f2f2f2;
    border-radius: 4px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.result-row {
    display: flex;
    flex-direction: column;
}

.result-row label {
    width: 40%;
}

.parish-council .result-panel:nth-child(-n+10) {
    background-color: #cde7cd;
    font-weight: bold;
}

.parish-council .result-panel {
    background-color: #e1b6c2;
    font-weight: bold;
}

.kaikar .result-panel:nth-child(-n+2) {
    background-color: #cde7cd;
    font-weight: bold;
}

.kaikar .result-panel {
    background-color: #e1b6c2;
    font-weight: bold;
}

progress {
    width: 45%;
    height: 25px;
}

.first-section input {
    height: 34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}

.person {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.person2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.result-panel {
    display: flex;
    align-items: center;
}

.first-section.row {
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .person {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
    }

    .person2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
    }

    .number input {
        height: 34px;
        width: 65px;
        text-align: center;
        font-size: 16px;
        vertical-align: middle;
    }

    .name {
        font-weight: bold;
        height: 52px;
    }

    .minus,
    .plus {
        width: 45px;
    }

    .result-row label {
        width: 100%;
    }

    progress {
        width: 100%;
    }

    .person-count {
        text-align: center;
    }

    .result-panel {
        height: 55px;
        font-size: 12px;
    }
}

body {
    margin-bottom: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.justify-content-center {
    margin-bottom: 20px;
}

.justify-content-center button {
    width: 100%;
}

.btn-groups {
    text-align: center;
    width: 20%;
}

.btn-groups,
.results-container {
    margin-bottom: 2%;
}
